<li class="list-group-item rounded mb-1">
	{{country_name}}

	<div class="float-right p-2 mb-2">
		<button class="change-visited bg-info text-white" data-id="{{id}}" data-newvisited="{{newVisited}}">
			{{#if visited}}See Again!{{else}}Visited!{{/if}}
		</button>

		<button class="delete-country bg-danger text-white" data-id="{{id}}">DELETE!</button>
	</div>
	
</li>
